@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Shadows+Into+Light&family=Yomogi&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

#alpha1{
    position: absolute;
    left: 150px;
    top: 85px;
    display: inline-block;
    font-size: 450px;
    font-weight: bolder; 
    font-stretch: ultra-expanded; 
    transform: rotate(0deg);
    background-color: #ff8177;
    background-image: linear-gradient(to top, #db8eff 0%, #0a06ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: 'Gloria Hallelujah', cursive;
}

#alpha2{
    position: absolute;
    left: 165px;
    top: 70px;
    display: inline-block;
    font-size: 450px;
    font-weight: bolder; 
    font-family: 'Gloria Hallelujah', cursive; 
    font-stretch: ultra-expanded; 
    transform: rotate(0deg);
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff8177 0%, #06b0ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
} 


