h1{
    text-align: center; 
}
.background{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.img_list {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }